@page "/About"

<h1>About This App</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum voluptates 
    architecto dolores provident dignissimos distinctio autem voluptatum repudiandae, enim 
    saepe iusto necessitatibus, reprehenderit blanditiis eaque consequatur, illo quas magnam!</p>


<h1>How It Works</h1>

<p>The program treats the concept of a maze as a rectangular grid of sections, each of which is 
    either part of a wall or the background. When a new maze is created, the program chooses a
    darker color for the walls and a lighter color for the background. The maze pattern is then
    generated, starting with a grid of characters representing an empty maze with an entrance and
    exit: <br> <br>

    <div style="font-family: 'Courier New', Courier, monospace;">
     X X X X X X X X X - X X X X X X X X X X X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X X X X X X X X X X X X X - X X X X X X X <br> <br>
     </div>

     <div style="font-family: 'Courier New', Courier, monospace;">
     X X X X X X X X X - X X X X X X X X X X X <br>
     X - - - X - - - X - X - - - - - X - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - X X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X X - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - - - - - - - - - - - - - - - - - X <br>
     X - - - X - - - - - - - X - X - - - - - X <br>
     X X X X X X X X X X X X X - X X X X X X X <br> <br>
     </div>

    <div style="font-family: 'Courier New', Courier, monospace;">
     X X X X X X X X X - X X X X X X X X X X X <br>
     X - - - X - - - X - X - - - - - X - - - X <br>
     X - X X X - X - X - X - X X X X X - X - X <br>
     X - - - X - X - X - X - X - - - - - X - X <br>
     X - X - X X X - X - X - X - X X X - X X X <br>
     X - X - - - - - X - X - - - X - - - - - X <br>
     X X X X X X X - X - X - X X X - X X X - X <br>
     X - - - - - X - X - X - X - - - - - X - X <br>
     X - X X X - X - X - X - X - X X X X X - X <br>
     X - X - X - - - X - X - X - X - X - - - X <br>
     X - X - X - X X X - X - X - X - X - X - X <br>
     X - X - X - X - - - - - X - X - X - X - X <br>
     X - X - X - X X X X X - X - X - X X X - X <br>
     X - - - X - - - - - - - X - X - - - - - X <br>
     X X X X X X X X X X X X X - X X X X X X X <br> <br>
     </div>
</p>


<h1>Challenges</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum voluptates 
    architecto dolores provident dignissimos distinctio autem voluptatum repudiandae, enim 
    saepe iusto necessitatibus, reprehenderit blanditiis eaque consequatur, illo quas magnam!</p>