@page "/maze"
@inject IJSRuntime JS;


<h1>Maze Generator</h1>

<div style="display: flex; flex-direction: flex-row;">

<svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:ev="http://www.w3.org/2001/sml-events"
    id="mazeSVG"
    viewBox = "0 0 @SVG_WIDTH @SVG_HEIGHT">
    <rect x="0" y="0" width="602" height="450" fill="#cfdfd9"/>
    <rect x="602" y="0" width="602" height="450" fill="#afafa9"/>
    <rect x="0" y="450" width="602" height="450" fill="#c2d2d2"/>
    <rect x="602" y="450" width="602" height="450" fill="#a2a2a2"/>

    @* <rect x="0" y="0" width="1204" height="900" fill="#cfdfd9"/> *@


    <line x1="0" y1="0" x2="0" y2="900" stroke="black" stroke-width="12"/>
    <line x1="1204" y1="0" x2="1204" y2="900" stroke="black" stroke-width="12"/>
    <line x1="0" y1="0" x2="1204" y2="0" stroke="black" stroke-width="6"/>
    <line x1="0" y1="900" x2="1204" y2="900" stroke="black" stroke-width="6"/>

</svg>

<div id="maze-info">
<div id="maze-text">@MazeWelcome</div>
    <select class="w3-select w3-border" name="complex-select" id="complexity-select" style="margin-bottom: 10px">
        <option value=9 disabled selected>Choose difficulty level</option>
        <option value=5 id="lvl1">Level 1</option>
        <option value=9 id="lvl2">Level 2</option>
        <option value=17 id="lvl3">Level 3</option>
        <option value=27 id="lvl4">Level 4</option>
        <option value=35 id="lvl5">Level 5</option>
        <option value=61 id="lvl6">Level 6</option>
    </select>

    <button class="w3-button w3-khaki w3-round-large" id="button_generate" @onclick="CreateMaze">Generate New</button>
    <button class="w3-button w3-green w3-round-large" id="button_solve" disabled="true">Solve - Player</button>
    <button class="w3-button w3-blue w3-round-large" id="button_solution" disabled="true">Show Solution</button>
    <button class="w3-button w3-red w3-round-large" id="button_race" disabled="true">Race</button>
    <!-- <button class="w3-button w3-purple w3-round-large" id="button_convert" disabled="true">Convert</button> -->
    <button class="w3-button w3-black w3-round-large" id="button_save" disabled="true" style="display: none;">Save Image</button>
    <!-- <button class="w3-button w3-brown w3-round-large" id="button_grid" disabled="true">Show Grid</button> -->
    
</div>

</div>

@code {
    private string MazeWelcome = "Welcome to the maze game in C#! " 
     + "Click on the arena or \"Generate New\" to create a new maze.";


    private bool firstMazeCreated = false;
    private string gridString;
    private string spaceColorString;
    private string wallColorString;
    private const int SVG_WIDTH = 1204;
    private const int SVG_HEIGHT = 900;

    private async void CreateMaze() {

        int complexity = 7;
        var newMaze = new MazeGrid(complexity);
        newMaze.InitMaze();
        newMaze.GenerateMaze();

        firstMazeCreated = true;

        gridString = newMaze.ToString();
        spaceColorString = newMaze.spaceColor.ToString();
        wallColorString = newMaze.wallColor.ToString();

        Console.WriteLine();
        newMaze.PrintMazeToConsole();
        Console.WriteLine();

        await JS.InvokeVoidAsync("SetMaze", gridString, newMaze.complexity);
        await JS.InvokeVoidAsync("PaintMaze", spaceColorString, wallColorString);

    }
}